html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

}

body{
    background: #eee;
}

.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color:var(--black);
  
 }

 .home{
    display:flex;
    align-items: center;
    justify-content: center;
    background: url(/images/banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;

}

.home .content h3{
    color:var(--black);
    font-size: 3rem;
}


.home .content p{
    color: var(--black);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.aeorobic  {
    display: block;
    align-items: center;
    justify-content: center;
    background-position: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.aeorobic h3{
    color: var(--black);
    font-size: 3rem;
}

.aeorobic p{
    color: var(--black);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.resistance  {
    display: block;
    align-items: center;
    justify-content: center;
    background-position: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.resistance h3{
    color: var(--black);
    font-size: 3rem;
}

.resistance p{
    color: var(--black);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}


.stretching  {
    display: block;
    align-items: center;
    justify-content: center;
    background-position: center;
    padding-top: 3rem;
    padding-bottom: 10rem;
}

.stretching h3{
    color: var(--black);
    font-size: 3rem;
}

.stretching p{
    color: var(--black);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.video {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
  }